*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
}
header{
    display: flex;
    justify-content: flex-start;
    background-color: #0077FF;
    color: #000;
    font-size: 20px;
    height: 10%;
}
header h1{
    margin-top: 3%;
    margin-left: 1rem;
}
.posicionamento{
    margin: 1.5rem;
}

.perfil{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}
.foto-perfil{
    width: 40px;
    height: 40px;
}
.dados{
    display: flex;
    align-items: flex-start;
    gap: 1.5rem;
    margin-bottom: 2rem;
    padding: 1rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #688cf1;
    font-size: 18px;
}
.dados ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.perfil-botao {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 0.8rem 1.2rem;
    background-color: #3498db;
    border-radius: 12px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: 0.3s;
    width: fit-content;
}

.perfil-botao:hover {
    background-color: #217dbb;
}

.foto-perfil {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.perfil {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 1.5rem;
}

.foto-perfil {
    width: 28px;
    height: 28px;
}

.botao-editar {
    background-color: #f1c40f;
    color: black;
    padding: 0.6rem 1.2rem;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

.botao-editar:hover {
    background-color: #d4ac0d; 
}
