*{
    margin: 0;
    padding: 0;
    outline: 0;
    border: 0;
}
header{
    display: flex;
    justify-content: flex-start;
    background-color: #0077FF;
    color: #000;
    font-size: 20px;
    height: 10%;
}
header h1{
    margin-top: 3%;
    margin-left: 1rem;
}
.formulario {
  margin: 2rem;
  max-width: 300px;
}

.formulario form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.formulario label {
  font-weight: bold;
  margin-bottom: 0.3rem;
}

.formulario input {
  padding: 0.7rem;
  border-radius: 10px;
  border: 1px solid #000;
  font-size: 1rem;
}

.formulario button {
  padding: 0.8rem;
  background-color: yellow;
  color: #000;
  border: 1px solid #888;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.formulario button:hover {
  background-color: #f7e600;
}
